extends layouts.pug
block css
  link(rel='stylesheet' href='/assets/css/style.css')
  link(rel='stylesheet' href='/assets/css/lists.css')

block contents
  .jumbotron.jumbotron-fluid.listJumbo
    p.display-4 Local dispensaries near you:
    p.lead
      each dispenser in dbDispenser
        .card.profileCard(id = dispenser.id)
          h5.card-header= dispenser.dispenser_name
          .card-body.profileCard
            img.rounded.float-right(src=dispenser.image alt='dis1')
            .card-title= dispenser.about
            p.card-text= "License: " + dispenser.license
            p.card-text= 'Strains Wanted: ' + dispenser.strains_wanted
            button.btn.btn-info.btn-lg(type='button' data-toggle='modal' data-target="#myModal-"+(dispenser.id)) Contact
            .modal.fade(role='dialog')(id = "myModal-"+(dispenser.id))
              .modal-dialog
                .modal-content
                  .modal-header
                    h4.modal-title= dispenser.dispenser_name
                  .modal-body
                    a.weblink(href= dispenser.webpage target='_blank')= dispenser.webpage
                    p= dispenser.city + ", "  + dispenser.state
                    a.weblink(href="mailto:"+ dispenser.email + "?subject=Hello%20from%20HighFlow!")= dispenser.email
                  .modal-footer
                    button.btn.btn-default(type='button' data-dismiss='modal') Close
      //- .card
      //-   h5.card-header Featured
      //-   .card-body
      //-     h5.card-title Special title treatment
      //-     img.rounded.float-right(src='...' alt='...')
      //-     p.card-text With supporting text below as a natural lead-in to additional content.
      //-     a.btn.btn-primary(href='#') Go somewhere
      //- .card
      //-   h5.card-header Featured
      //-   .card-body
      //-     h5.card-title Special title treatment
      //-     img.rounded.float-right(src='...' alt='...')
      //-     p.card-text With supporting text below as a natural lead-in to additional content.
      //-     a.btn.btn-primary(href='#') Go somewhere
  


