extends layouts.pug
block css
  link(rel='stylesheet' href='/assets/css/lists.css')

block contents
  .jumbotron.jumbotron-fluid
    p.display-4 Local dispensaries closest to you:
    p.lead
      each dispenser in dbDispenser
        .card
          h5.card-header= dispenser.dispenser_name
          .card-body
            img.rounded.float-right(src=dispenser.image alt='dis1')
            h5.card-title= dispenser.bio
            p.card-text= dispenser.strains_wanted
            button.btn.btn-info.btn-lg(type='button' data-toggle='modal' data-target='#myModal') Contact
            #myModal.modal.fade(role='dialog')
              .modal-dialog
                .modal-content
                  .modal-header
                    h4.modal-title= dispenser.dispenser_name
                  .modal-body
                    a(href='#') www.example.com
                    p= dispenser.city, dispenser.state
                    p= dispenser.email
                  .modal-footer
                    button.btn.btn-default(type='button' data-dismiss='modal') Close
      //- .card
      //-   h5.card-header Featured
      //-   .card-body
      //-     h5.card-title Special title treatment
      //-     img.rounded.float-right(src='...' alt='...')
      //-     p.card-text With supporting text below as a natural lead-in to additional content.
      //-     a.btn.btn-primary(href='#') Go somewhere
      //- .card
      //-   h5.card-header Featured
      //-   .card-body
      //-     h5.card-title Special title treatment
      //-     img.rounded.float-right(src='...' alt='...')
      //-     p.card-text With supporting text below as a natural lead-in to additional content.
      //-     a.btn.btn-primary(href='#') Go somewhere
  


